<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactReduxBoilerplate</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app"></div>
    <% if Rails.env.development? %>
      <script src="http://localhost:3001/static/bundle.js"></script>
      <%#= javascript_include_tag 'bundle' %>
    <% else %>
      <%= javascript_include_tag 'bundle' %>
    <% end %>
  </body>
</html>
